<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <title>Show snek</title>
    </head>
    <body>
      <h1>Show!</h1>
      <h3>Name: <%= snek.name %></h3>
      <h3>Speed: <%= snek.speed %></h3>
      <a href="/">Home</a>
      <a href="/<%= snek._id %>/edit">Edit</a>
    </body>
</html>
